body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
  color: #333;
}

li,
a {
  text-decoration: none;
  list-style-type: none;
  color: #000; /* Вкажіть потрібний колір, наприклад, чорний */
}

header {
  background-color: #111;
  background-size: cover;
  background-position: center;

  color: white;
  text-align: center;
  padding: 60px 20px;
}

header {
  text-align: center;
  padding: 60px 20px;
  animation: fadeSlide 1.5s ease;
}

.profile {
  width: 240px;
  border-radius: 50%;
  margin-bottom: 20px;

  animation: zoomIn 1.5s ease;
}

header h1 {
  font-size: 36px;
  margin: 10px 0;
  animation: slideUp 1.5s ease;
}

header p {
  font-size: 18px;
  color: #ffffff;
  animation: slideUp 2s ease;
}

.buttons {
  margin-top: 20px;
}

.buttons a {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background: #333;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.3s;
}

.buttons a:hover {
  background: #0077ff;
  transform: translateY(-3px);
}

@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.6);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

section {
  max-width: 1000px;
  margin: auto;
  padding: 10px 20px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.skills-grid-contents,
.skills-grid-contents-off,
.skills-grid-contents-off-noh,
.skills-grid-contents-off-noh-py {
  padding: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Додає тінь */
  background-color: white;
  cursor: pointer;
  transition: transform 0.3s ease; /* Додаємо плавність для hover */
}

.skills-grid-contents::after {
  content: "✓"; /* Символ галочки */
  position: absolute;
  right: 10px;
  font-size: 25px;
  opacity: 0; /* Делаем невидимой */
  transition: opacity 0.3s;
  color: green;
  font-weight: bold;
}

/* Показываем галочку при наведении */
.skills-grid-contents:hover::after {
  opacity: 1; /* Делаем видимой */
}

.skills-grid-contents:hover,
.skills-grid-contents-off:hover,
.skills-grid-contents-off-noh:hover,
.skills-grid-contents-off-noh-py:hover {
  transform: translateY(-10px);
}

/* Початковий стан: хрестика немає */
.skills-grid-contents-off::after {
  content: "";
  position: absolute;
  right: 10px;
  opacity: 0; /* Делаем невидимой */
  font-size: 30px;
  transition: opacity 0.3s;
  font-weight: bold;
}

/* Стан при наведенні: додаємо хрестик */
.skills-grid-contents-off:hover::after {
  content: "0% ×";
  opacity: 1;
  color: red;
  font-weight: bold;
}

.skills-grid-contents-off-noh::after,
.skills-grid-contents-off-noh-py::after {
  content: "";
  position: absolute;
  right: 10px;
  opacity: 0; /* Делаем невидимой */
  font-size: 30px;
  transition: opacity 0.3s;
  font-weight: bold;
}

.skills-grid-contents-off-noh:hover:after {
  content: "20% ×";
  opacity: 1;
  color: red;
  font-weight: bold;
}

.skills-grid-contents-off-noh-py:hover::after {
  content: "50% ×";
  opacity: 1;
  color: rgb(45, 10, 247);
  font-weight: bold;
}

.skills-grid div {
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(
    2,
    1fr
  ); /* Створює 2 колонки однакової ширини */
  gap: 40px; /* Відступ між картками */
  list-style: none; /* Прибирає маркери списку */
}

.projects-item,
.projects-item-valentines,
.projects-item-happy,
.projects-item-goit {
  border: 1px solid #ddd;
  box-shadow:
    0 2px 1px rgba(46, 47, 66, 0.08),
    0 1px 1px rgba(46, 47, 66, 0.16),
    0 1px 6px rgba(46, 47, 66, 0.08);
  padding: 30px;
  border-radius: 8px;
  transition: transform 0.3s ease; /* Додаємо плавність для hover */
}

.projects-item a,
.projects-item-valentines a,
.projects-item-happy a,
.projects-item-goit a {
  display: inline-block;
  margin-top: 10px;
  color: #4caf50;
}

.contact-list a {
  display: inline-block;
  margin-top: 10px;
  color: black;
}

.projects-item:hover {
  background-image: url("/images/Nine\ Cups.JPG");
  background-size: cover;
  background-position: center; /* Центрирование */

  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Додає тінь */
  transform: translateY(-10px);
  color: rgba(0, 0, 0, 0);
}

.projects-item-valentines:hover {
  background-image: url("/images/Valentines\ .JPG");
  background-size: cover;
  background-position: center; /* Центрирование */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /*Додає тінь */
  transform: translateY(-10px);
  color: rgba(0, 0, 0, 0);
}

.projects-item-happy:hover {
  background-image: url("/images/happy-new-year.JPG");
  background-size: cover;
  background-position: center; /* Центрирование */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /*Додає тінь */
  transform: translateY(-10px);
  color: rgba(0, 0, 0, 0);
}

.projects-item-goit:hover {
  background-image: url("/images/hero.JPG");
  background-size: cover;
  background-position: center; /* Центрирование */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /*Додає тінь */
  transform: translateY(-10px);
  color: rgba(0, 0, 0, 0);
}

.projects-item a:hover,
.projects-item-happy a:hover {
  transform: scale(1.2);
  filter: brightness(1.3); /* Збільшує яскравість на 20% */
}

.projects-item-valentines a:hover {
  transform: scale(1.2);
  color: #000000;
  filter: brightness(1.3); /* Збільшує яскравість на 20% */
}

.projects-item-happy a:hover,
.projects-item-goit a:hover {
  transform: scale(1.2);
  color: #f70000;
  filter: brightness(1.3); /* Збільшує яскравість на 20% */
}

.contact-list a:hover {
  /* transition: transform 0.5s ease; Плавність переходу */
  transform: scale(1.1);
  /* transition: filter 0.3s ease; */
  color: #07f113;
  filter: brightness(1.3); /* Збільшує яскравість на 20% */
}

footer {
  text-align: center;
  padding: 20px;
  background: #111;
  color: white;
}
